.section {
  display: flex;
}

.info {
  display: flex;
  padding: 0 20px;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: flex-start;
}

.logo__img {
  width: 150px;
}

.name {
  font-size: 20px;
}

.description {
  font-size: 16px;
  margin: 20px 0;
}

.blog,
.location {
  display: flex;
  justify-content: space-between;
}

.url {
  text-decoration: none;
  color: dimgray;
}

.svg {
  margin-right: 10px;
}

@media (max-width: 450px) {
  .svg {
    display: none;
  }
}
